h1 ,p ,h2 ,h3{
	padding: 16px;
	margin: 2px 48px 2px 48px;;
	background-color: #ECEFF1;
    border-radius: 5px
    
}
p{
    color: #263238;
}

h1{
    color: #263238;
}

h2{
    color: #263238;
}

h3{
    color: #263238;
}
